:root {
    /* Font Families */
    --font-heading: 'Lora';
    --font-body: 'Glacial Indifference';

    /* Colors */
    --dark-gold: #b8860b;
    --gold: #ffd700;
    --black: #000000;
}

[x-cloak] {
    display: none !important;
}

/* General Body Styles */
body {
    font-family: var(--font-body) !important;
    color: #333;
    /* padding-top: 90px; */
}

/* Apply the heading font to all heading elements */
h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand,
.hero-title {
    font-family: var(--font-heading);
}

.text-gold {
    color: var(--dark-gold) !important;
}

.bg-gold {
    background-color: var(--dark-gold) !important;
}

.btn-outline-gold {
    color: var(--dark-gold);
    border-color: var(--dark-gold);
}

.btn-outline-gold:hover {
    color: white;
    background-color: var(--dark-gold);
    border-color: var(--dark-gold);
}

.btn-gold {
    background-color: var(--dark-gold);
    border-color: var(--dark-gold);
    color: white;
}

.btn-dark {
    border-radius: 2rem !important;
    border: 1px solid #fff !important;
}

.btn-gold:hover {
    background-color: var(--gold);
    border-color: var(--gold);
    color: #333;
}

/* Gradient Button */
.btn-gradient-gold {
    background-image: linear-gradient(to right, var(--black), var(--dark-gold), var(--dark-gold));
    color: white;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 2rem;
    transition: all 0.3s ease;
}

.btn-gradient-gold:hover {
    background-image: linear-gradient(to right, var(--black), var(--dark-gold), var(--dark-gold));
    color: white;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 2rem;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Navbar */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

.navbar-brand img {
    margin-right: 8px;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}

/* Hero Section */
.hero-section {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url('/images/hero-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 56px;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(184, 134, 11, 0.5); */
    /* z-index: 1; */
}

.hero-content {
    position: relative;
    z-index: 2;
}

/* Three Div Section - for the grid of info/buttons */
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.h-100 {
    height: 100%;
}

.kc-web-sdk-btn {
    border: none;
}