/* public/css/intro.css */

body.intro-page {
    background-image: url('/images/welcome-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
    padding-top: 0;
    /* Override global padding for intro pages */
}

.intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.intro-page .container {
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.intro-page .container.fade-in {
    opacity: 1;
}

.animated-text {
    animation: slideUpFadeIn 1s ease-out forwards;
}

@keyframes slideUpFadeIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animated-text.slide-up-fade-out {
    animation: slideUpFadeOut 0.5s ease-out forwards;
}

@keyframes slideUpFadeOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}

.intro-page .btn {
    opacity: 1 !important;
    animation: none !important;
}